.scoreboard-holder {
    float: right;
    width: 25%;
    margin: auto;
    line-height: 200%;
}

arrow {
    font-size: 24px;
    text-align: left;
    float: left;

    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
    color: white;
}

number {
    font-size: 24px;
    text-align: left;
    float: left;

    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
    color: #888;
}

teamname {
    font-size: 24px;
    text-align: left;
    float: left;

    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
    color: #39e;
}

yourteamname {
    font-size: 24px;
    text-align: left;
    float: left;

    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
    color: #3d8;
}

teamscore {
    font-size: 24px;
    text-align: right;
    float: right;

    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
    color: #d4e;
}
