body, html {
    padding: 4px;
    margin: 4px;
    background-color: #111;
    font-family: "Lucida Console", Monaco, monospace;
}

.page-title {
    font-size: 24px;
    display: block;
    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
    color: #39e;
}

.page-title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: calc(100% - 20px); /* Change this to whatever width you want. */
    padding-top: 40px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #555; /* This creates the border. Replace black with whatever color you want. */
}

.page-spacer {
    width: 100%;
    height: 20px;
}

.btn {
    border: none;

    color: #8cf;
    font-size: inherit;
    font-family: inherit;
    background-color: inherit;
    padding: 0px 0px;
    
    cursor: pointer;
    display: inline;
}

.btn:hover {background: #333;}